{% extends "base_home.html" %}
{% block content %}
<div>
    <h2>История операций</h2>
    <form method="POST" action="{% url 'base:history' %}" style="margin-bottom: 20px;">
        {% csrf_token %}
        <button type="submit" name="delete_history" class="btn btn-danger">Очистить историю</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Тип сделки</th>
                <th>Тип актива</th>
                <th>Тикер</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Время сделки</th>
            </tr>
        </thead>
        <tbody>
            {% for item in history_items %}
            <tr>
                <td class="{% if item.action == 'buy' %}text-success{% else %}text-danger{% endif %}">{{ item.action }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.ticker_or_symbol }}</td>
                <td>{{ item.get_name }}</td>
                <td>{{ item.price|floatformat:2 }}</td>
                <td>{{ item.amount|floatformat:2 }}</td>
                <td>{{ item.purchase_date|date:"F j, Y, g:i a" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
